<app-barrahorizaontalnavbar></app-barrahorizaontalnavbar>
  
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Inicio</a></li>
      <li class="breadcrumb-item active" aria-current="page">Inventario</li>
    </ol>
  </nav>

<div class="container-lg">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Referencia</th>
            <th scope="col">Stock</th>
            <th scope="col">Precio/unidad</th> 
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Lapiceros</th>
            <td>LP001</td>
            <td>32</td>
            <td>$2000</td>
          </tr>
          <img src="../../assets/imagenes/jeisson/lapiceros.jpg" alt="lapiceros.jpg" height="150" width="150">
          <tr>
            <th scope="row">Cuaderno argollado</th>
            <td>CD001</td>
            <td>15</td>
            <td>$3000</td>
          </tr>
          <img src="../../assets/imagenes/jeisson/cuadernos.jpg" alt="cuadernos.jpg" height="150" width="150">
          <tr>
            <th scope="row">Block iris</th>
            <td>BK-I001</td>
            <td>10</td>
            <td>$3500</td>
          </tr>
          <img src="../../assets/imagenes/jeisson/block.jpg" alt="block.jpg" height="150" width="150">
          <tr>
            <th scope="row">Portaminas</th>
            <td>PTM001</td>
            <td>50</td>
            <td>$1500</td>
          </tr>
          <img src="../../assets/imagenes/jeisson/portaminas.jpg" alt="portaminas.jpg" height="150" width="150">
        </tbody>
      </table>

  </div>
</div>
